.App {
  text-align: center;
  background-image: linear-gradient(rgb(153, 153, 255), rgb(230, 132, 132));
  height: 100vh;
}

/* .calculator-body{
  padding-top: 25vh;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
} */

/* .button{
  width: 12%
} */

button{
  width: 22%;
  height: 22%;
  margin: 3px;
  background-color: rgb(73, 72, 72);
  color: white;
  border-color:rgb(73, 72, 72);
  flex-wrap: wrap;
}

button:hover {
  color: rgb(73, 72, 72);
  background-color: rgb(194, 207, 207);
  border-color:rgb(194, 207, 207);
}

.container {
  height: 90vh;
  margin: 2rem;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.cell5{
  display: flex;
  justify-content: center;
}